/src/webservice/__pycache__/*
/save_model/sbert_trained_model/*/*
/save_model/sbert_trained_model/*
/save_model/sbert_trained_model/*.csv

/save_model/sbert_trained_model_classifier/*/*
/save_model/sbert_trained_model_classifier/*

/saved_model/sbert_trained_model_sim_score/*/*
/save_model/sbert_trained_model_sim_score/*
